<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.denison.tennis-os.apple-messages-sync</string>
  <key>ProgramArguments</key>
  <array>
    <string>__NODE_BIN__</string>
    <string>__HELPER_JS__</string>
    <string>--tick</string>
    <string>--home</string>
    <string>__APP_SUPPORT__</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__APP_SUPPORT__</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>23</key>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>StartInterval</key>
  <integer>300</integer>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__LOG_OUT__</string>
  <key>StandardErrorPath</key>
  <string>__LOG_ERR__</string>
</dict>
</plist>
